@charset "ISO-8859-1";

body {
	background: #8080ff;
}

.wrap {
	width:350px;
	margin:auto;
	background:#0080c0;
	margin-top:50px;
	padding:5px;
}

form {
	padding:10px;
	font-family:arial;
	border: 1px dotted white;
}

h1{
	
	text-align:center;
	color:white;
	font-size:40px;
	
}

h2{
	text-align:center;
	background:orange;
	color:white;
	padding:10px;
	border-radius:10px;
}

input {
	padding:10px;
	margin:5px;
	border-radius:5px;
	border:none;
}

#input {
	width:90%;
}

#submit {
	width:95%;
	background:orange;
	cursor:pointer;
	font-size:18px;
	font-weight:bold;
	color:white;
}

#submit:hover {
	background:#000080;
}

p{
	color:white;
	padding:10px;
	border-radius:10px;
	font-size:20px;
}

#logo {
	align:center;
}

#introduzione {
	color:white;
	padding:10px;
	border-radius:10px;
	font-size:35px;
	font-weight:bold;
	font-family:sans-serif;
}

#obiettivi {
	width:98%;
	height:100px;
}

select {
	padding:10px;
	width:32%;
	border-radius:5px;
}

#luogo {
	width:89%;
}

#azienda {
	width:100%;
}

span {
	color:white;
	padding:10px;
	border-radius:10px;
}

#tutor-homepage{
	background-color:white;
}


#tutor-header{
	margin-top:-10px;
	margin-left:-10px;
	margin-right:-8px;
	display:flex;
	flex-direction: column;
	background-color:#261263;
	height:140px;
}

#wrap-ts-mark{
	color:white;
	font-size:14px;
	font-family:Helvetica;
	float:left;
	display:inline-block;
	max-height:90px;
	
}

#wrap-ts-logo{
	
}

#ts-logo{
	margin-left:-30px;
	margin-top:-20px;
	width:200px;
	height:160x;
}

#tirocinio-smart-mark{
	letter-spacing:3px;
	word-spacing:8px;
	padding-left:10px;
	font-size:28px;
	overflow: hidden;
	z-index:-100;
}

#wrapaccount-tutor{
	padding:10px;
	float:right;
	box-shadow:-5px 5px 5px 1px #3465a4;
	padding-bottom:25px;
}

#user-logo{
	padding:15px;
	float:left;
}

#user-info{
	float:right;
}

#user-name{
	font-size:14px;
}

#header-logout{
	color:white;
	text-decoration:none;
	font-size:14px;
	padding:5px;
	background-color:#3A56BFBB;
	margin-left:5px;
	border-radius:8px;
}

#header-signout{
	color:white;
	text-decoration:none;
	font-size:14px;
	padding:5px;
	background-color:#3FF6BFBB;
	margin-right:15px;
	border-radius:3px;
}

#wrapnav-tutor{
	padding:5px;
	margin:0px;
}

#nav-tutor{
	display:flex;
	flex-direction:row-reverse;
	overflow:hidden;
	z-index:100;
}

#nav-list{
	
}

nav > ul > li{
	list-style-type:none;
	display:inline;
	padding-left:15px;
}

li > a{
	color:#E6F1F2;
	text-decoration:none;
	font-size:15px;
}

li > a:hover{
	color:white;
	background-color:#E97A19;
	padding:12px;
	border-radius:3px;
}

#nav-list{
	padding-bottom:-40px;
	padding-right:240px;
}

#tutor-questionari{
	color:black;
}

#quest-heading{
	color:black;
}



#new-questionario{
	
}

#wrap-questionari{

}

#tutor-quest{
}

#wrap-tutor-questionari{
	
}

#new-questionario{
	
}

#wrap-ts-input{
	padding:8px;
}

#tutor-convenzioni{

}

#wrap-tutor-convenzioni{

}

#wrap-convenzioni{

}

#registra-convenzioni{

}

#new-convenzione{

}

#tutor-conv{
	
}

#wrap-ts-input{
	padding:35px;
}

#conv-heading{
	color:black;
}

#tutor-footer{
	background-color: #6D81AA;
	margin-left:-10px;
	margin-right:-8px;
	margin-bottom:-40px;
}

#wrapup-footer{
	height:40px;
	background-color:#555753;
}

#scroll-up{
	width:40px;
	height:40px;
	opacity:0.7;
	color:white;
}

#wrapfooter-links{
	
}

#wrapfooter-links > ul{
	list-style-type:none;
}

ul{
	display:flex;
	flex-direction:row;
}

ul > li{
	padding-left:15px;
}

#wrapfooter-links > ul > li > a:hover{
}

#wrapfooter-info{
	margin-bottom:-25px;
	padding:25px;
}

#registro-tirocinio{
	background-color: #E2E3FF;
	border-radius:10px;
	padding:30px;
	margin-top:15px;
	margin-bottom:25px;
}

#wrap-registro-tirocinio{
}

#wrap-ts-input-reg{
	float:right;
}

#reg-tirocinio{
	padding:35px;
}

#wrap-reg-tirocinio{
	padding:25px;
}

.registro-info{
	font-size:18px;
	color:black;
}

#tutor-tirocinio{
	margin-top:35px;
	border-radius:15px;
	margin-bottom:35px;
	background-color:white;
	width:100%;
	height:100%;
}

#wrap-tutor-tirocinio{
	
}

#wrap-tirocinio-info{
	
}

.tirocinio-info{
	color:#2e3436;
}

#prog-formativo{
	background-color:white;
	padding:15px;
	margin-top:25px;
	margin-bottom:25px;
	border-radius:15px;
}

#wrap-prog-formativo-info{
	
}

.prog-formativo-info{
	color:black;
}
