@charset "ISO-8859-1";

* {
	width:auto;
	height:auto;
	font-size: 14px;
}

body {
	background: #8080ff;
}

form {
	padding:10px;
	font-family:arial;
	border: 1px dotted white;
}

h1{
	
	text-align:center;
	color:white;
	font-size:40px;
	
}

h2{
	text-align:center;
	background:orange;
	color:white;
	padding:10px;
	border-radius:10px;
}

h3 {
	font-weight: 300;
	font-size: 18px;
	color: black;
}

input {
	padding:10px;
	margin:5px;
	border-radius:5px;
	border:none;
}

li {
	list-style-type: none;	
	overflow: hidden;
}

img {
	display:inline;
}

p{
	color:white;
	padding:10px;
	border-radius:10px;
	font-size:20px;
	overflow:hidden;
}

section {
	background-color: #f4f4f9;
	border-radius: 14px;
}

select {
	padding:10px;
	width:32%;
	border-radius:5px;
}

span {
	color:white;
	padding:10px;
	border-radius:10px;
}

nav > ul > li {
	display: inline;
	padding-left: 5px;
}

b {
	color: black;
	font-size: 16px;
}

div > nav > ul > li > a {
	text-decoration: none;
	color: #f9f5e5;
}

#questionari-wrapper {
	margin: -8px;
	border-radius: 0px;
	margin-top: 8px;
	padding: 15px;
}

#input {
	width:90%;
}

#submit {
	width:95%;
	background:orange;
	cursor:pointer;
	font-size:18px;
	font-weight:bold;
	color:white;
}

#submit:hover {
	background:#000080;
}

#logo {
	align:center;
}

#introduzione {
	color:white;
	padding:10px;
	border-radius:10px;
	font-size:35px;
	font-weight:bold;
	font-family:sans-serif;
}

#obiettivi {
	width:98%;
	height:100px;
}

#luogo {
	width:89%;
}

#azienda {
	width:100%;
}

#user-icon-wrapper {
	padding: 5px;
}

#user-icon {
	width: 60px;
	height: 50px;
}

#user-log-wrapper {
	background-color: #FFFFFF;
	padding: 7px;
	display: -webkit-box;
	margin: -8px;
	-webkit-box-align: end;
	-webkit-box-pack: justify;
}

#user-log-info-wrapper {
	margin-left: 60px;
}

#user-name {
	color: black;
	display: inline;
	font-size: 14px;
	font-weight: 100;
}

#user-log-command-wrapper {
	padding-right: 35px;
}

#user-log-button {
	color: white;
	border-radius: 3px;
	border-bottom: 2px solid #4e9a06;
	background-color: #73d216;
	font-weight: 450;
	font-size: 16px;
	min-width: 90px;
}

#user-log-button:hover {
	background-color: #80e31e;
}

#header-wrapper {
	color: #fefbe9;
	background-size: 100%;
	background-color: #09005a;
	margin: -8px;
	margin-bottom: 0px;
	padding: 0px;
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: justify;
}

#logo-wrapper {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

#logo {
	margin-top: -20px;
	width: 140px;
	height: 100px;
}

#navbar-link {
	padding: 10px;
	font-size: 14px;
}

#navbar-link:hover {
	padding: 10px;
	background-color: #fcaf3d;
	font-weight: 900;
	font-size: 16px;
	color: #ffffff;
}

#user-info-wrapper {
	border-radius: 3px;
	padding: 15px;
}



#quest-heading {
	font-size: 28px;
	font-weight: 250;
	color: black;
	padding: 30px;
}

#footer-wrapper {
	margin: -8px;
	display: block;
	-webkit-box-align: center;
	background-color: #888a85;
}

#scroll-up {
	width: 40px;
	height: 40px;
	display: block;
	margin-left: 50%;
	margin-right: 50%;
}

#scroll-up-wrapper {
	padding: 10px;
	background-color: #444444;
	border-radius: 8px;
}

#navbar {
	diaplay: block;
}

#footer-link {
	text-decoration: underline;
	color: white;
}

#footer-link:hover {
	padding: 10px;
	color: #334455;
}

#questionario-wrapper {
	color: #000000;
	text-color: #000000;
	border: 1px thick black;
	padding: 30px;
	margin: 30px;
	border-style: solid;
	border-width: 2px;
	border-radius: 15px;
	border-color: #000000;
}



#questionario-wrapper-compilato {
	color: #000000;
	text-color: #000000;
	border: 1px thick black;
	padding: 30px;
	margin: 30px;
	border-style: solid;
	border-width: 2px;
	border-radius: 15px;
	border-color: #80cbc2;
}

#questionari-wrapper {
	
}

#quest-info {
	font-size: 14px;
	color: #000000;
	margin: -10px;
}

#registro-heading {
	padding: 15px;
}

#registro-heading-icon {
	padding: 70px;
	display: inline;
	width: 70px;
	height: 50px;
}

#progetto-formativo-heading {
	padding: 15px;
}

#progetto-formativo-heading-icon {
	padding: 70px;
	display: inline;
	width: 130px;
	height: 130px;
}

#id-progetti-wrapper {
	margin: 25px;
	padding: 35px;
}

#id-progetto-wrapper {
	margin: 30px;
	padding-bottom: 5px;
	margin-bottom: 10px;
	text-size: 12px;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	border-color: #204a87;
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
}

#progetto-icon {
	width: 80px;
	height: 80px;
}

#id-progetto-info {
	color: black;
	margin: 15px;
	font-size: 14px;
}

#reg-tirocinio {
	font-style: Arial;
	font-weight: 100;
	font-size: 16px;
	color: black;
}

#reg-info-wrapper {
	width: 80%;
	margin: 25px;
	padding: 15px;
	border: 3px solid black;
	border-radius: 5px;
	display: -webkit-box;
	-webkit-box-align: start;
	-webkit-box-pack: justify;
}

#reg-info {
	padding: 5px;
	margin: 0px;
	font-size: 16px;
	font-weight: 100;
	color: black;
}

#nomi-registri-wrapper {
	margin: 25px;
	padding: 35px;
}

#nome-registro-wrapper {
	margin: 30px;
	padding-bottom: 5px;
	margin-bottom: 10px;
	text-size: 12px;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	border-color: #204a87;
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
}

#ts-input-reg-wrapper {
    padding: 75px;
    margin: 10px;
}

#navbar-list {
	display: -webkit-box;
	-webkit-box-align: start;
	-webkit-box-pack: justify;
}

#registro-icon {
	width: 60px;
	height: 60px;
	padding-right: 30px;
}

#nome-registro-info {
	color: black;
	margin: 15px;
	font-size: 14px;
}

#registri-heading {
	color: #000000;
	font-weight: 550;
}

#sceltaquestionario-wrapper {
	margin-left: 30%;
	margin-right: 10%;
	padding: 45px;
}

#input-questionario {
	border-radius: 0px;
	border-style: solid;
	border-color: #80cbc2;
	border-width: 1px;
}

#scelta-progetto-wrapper {
	margin-left: 30%;
	margin-right: 10%;
	padding: 45px;
}

#search-input {
	border-radius: 0px;
	border-style: solid;
	border-color: #80cbc2;
	border-width: 1px;
	padding: 11px;
}

#scelta-registro-wrapper {
	margin-left: 30%;
	margin-right: 10%;
	padding: 45px;
}

#button {
	padding: 10px;
	margin: 10px;
	background-color: #65a29b;
	color: white;
	font-size: 16px;
	font-weight: 750;
	border-radius: 10px;
	border-bottom: 4px solid #607875;
}

#button:hover {
	background-color: #60baaf;
}

#registro-tirocinio {
	padding: 30px;
}

#reg-attivita-wrapper {
	background-color: #ffffff;
	padding: 75px;
	margin: 15px;
}

#reg-attivita {
		
}

#reg-attivita-row {
	padding: 15px;
}

#reg-attivita-head {
	padding: 25px;
}

#reg-attivita-data {
	padding: 25px;
}

#reg-attivita-row-counter {
	padding: 15px;
	padding-right: 55px;
}

#consegna-icon {
	width: 100px;
	height: 100px;
}

#footer-bar {
	padding: 140px;
}

#footerbar-link {
	color: white;
	font-weight: 800;
	padding: 10px;
	text-decoration: none;
}

#footerbar-link:hover {
    text-decoration: underline;
    color: #e9b96e;
    padding: 20px;
}

#true-false-icon {
	display: block;
	width: 60px;
	height: 60px;
	margin-left: 50%;
	margin-right: 50%;
}

#true-false-icon-approvazione {
	display: block;
	width: 60px;
	height: 60px;
	margin-left: 50%;
	margin-right: 50%;
}

#progetto-formativo {
	padding: 80px;
}

#progetto-formativo-info {
	color: black;
	margin: 15px;
	font-size: 14px;
}

#progetto-formativo-wrapper {
	width: 80%;
	margin: 25px;
	padding: 15px;
	border: 3px solid black;
	border-radius: 5px;
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: justify;
}

#prog-form-info {
	padding: 5px;
	margin: 0px;
	font-size: 16px;
	font-weight: 100;
	color: black;
}

#approvazione-info {
	padding: 5px;
	margin: 0px;
	font-size: 16px;
	font-weight: 850;
	color: black;
}

#prog-form-button-wrapper {
	display: inline;
	padding: 35px;
	margin-right: 70%;
	margin-left: 30%;
}

#modifica-registro-wrapper {
	border: 1px solid #555753;
	padding: 75px;
	margin: 15px;
}

#modifica-registro-info {
	font-size: 14px;
	color: black;
}

#login-icon {
	width: 45px;
	height: 45px;
	padding: 15px;
	margin-right: 25px;
}

.wrap {
	width: 350px;
	margin: auto;
	background: #0080c0;
	margin-top: 50px;
	padding: 5px;
}

.wrapper {
	overflow: hidden;
	padding: 5px;
}






