<section id="prog-formativo">
    <span id="">
        <b>Progetto Formativo ID:</b>
        <p class="prog-formativo-id"> 
            <%= request.getAttribute("progetto-formativo").getId() %>
        </p>
        <b>Progetto Formativo Info:</b>
        <p class="prog-formativo-info"> 
            <%= request.getAttribute("progetto-formativo").getInfo() %>
        </p>
        <b>Progetto Formativo Approvazione</b>
        <p class="prog-formativo-approv">
            <%= request.getAttribute("progetto-formativo").
                getApprovazione() %>
        </p>
    </span>
    <label id="wrap-ts-input">
        <input class="ts-button" name="visualizza-prog-formativo" 
            type="button" value="Visualizza"/>
        <input class="ts-button" name="approva-prog-formativo" 
            type="button" value="Approva"/>
    </label>
</section>